
html {
	overflow-y: scroll
}

div#loader {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    animation: load 1s forwards;
    z-index: 1000000;
    text-align: center;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}

div#loader img {
    width: 50%;
    object-fit: contain;
    object-position: center center;
}

@keyframes load {
    90% {
      opacity: 1;
    }
    to {
        opacity: 0;
		visibility: collapse;
    }
}